{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>kikl.co: Tiny, short-lived, memorable links</title>
    <meta name="description" content="The link shortener for easy to type and remember URLs.">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ page_uri }}" />
    <meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'img/og_image.png' %}" />

    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- font import -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

    {% block head %}{% endblock %}
</head>
<body class="bg-indigo-700">
    <div id="app" class="container mx-auto max-w-2xl bg-white px-6 py-3 my-6 shadow-2xl rounded-2xl">
        <header class="mt-4 mb-4 flex flex-row justify-start items-baseline gap-2">
            <a class="relative" href="{% url 'front' %}">
                <h1 class="text-4xl font-extrabold text-indigo-700">kikl<span class="text-pink-500">.</span>co</h1>
                <h1 class="logo-mask absolute top-0 left-0 text-4xl font-extrabold text-pink-500">ki</h1>
            </a>
            <p class="text-2xl">Tiny, short-lived, memorable links</p>
        </header>
        {% block content %}{% endblock %}
    </div>
</body>
</html>