{% extends "base.html" %}

{% block content %}

    <div class="lead">Who could forget <span class="highlight">{{ sample_paths|random }}</span>?</div>
    <p class="elevator-pitch">kikl.co is a different kind of link shortener. Instead of making URLs as short as possible, it makes them as memorable as possible. 🤔💡</p>
    
    <p class="elevator-pitch">By default, <strong>each link only lasts an hour 🕐</strong> &ndash; perfect for transferring from one device to another 💻📲 or telling someone verbally. 😮 💬</p>

    <p class="elevator-pitch">Paste a link below to try it out:</p>

    <form class="main" method="post" action="">{% csrf_token %}
        <input class="add-link" type="text" name="target" placeholder="Paste a link and watch the magic!"/>
        <div class="input error"></div>
    </form>
    <div class="large link-url"></div> 
    <button class="add-another">Make another!</button>
    <div class="check-time-remaining"></div>

{% endblock %}
