{% extends "base.html" %}

{% block title %}kikl.co: {{ link.path }}{% endblock %}

{% block content %}

<script>
    $(document).ready(function(){
        var link = $('.link');
        timer(link);
        $('.link > button.add-time').not('.disabled').click(function(){
            var link = $(this).parent();
            ajaxIncreaseDuration(link);
        });
        var link_title = $('.link h1');
        var path = link_title.text();
        link_title.html(build_url(path, true));
    });
</script>

{% include 'linklet_large.html' %}

{% if not user.is_authenticated %}
    <p>Want to add more time to your links? <a href="{% url 'auth_login' %}">Log in</a> or <a href="{% url 'registration_register' %}">create an account</a> to increase their time up to double.</p>
{% endif %}

{% endblock %}
