$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;

@mixin box_sizing() {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::-webkit-input-placeholder {
    color: orange;
}

:-moz-placeholder { /* Firefox 18- */
    color: orange;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: orange;
}

:-ms-input-placeholder {  
    color: orange;
}

body {
    margin: 0; border: 0; padding: 0;
    background-color: orange;
    color: white;
    font-family: $helvetica;
}

a {
    color: white;

    &.banner {
        color: inherit;
        text-decoration: none;
    }

    &.forgot-password {
        font-size: 0.7em;
    }
}

dd {
    margin-left: 0;
}

dt {
    margin: 0.75em 0 0.25em 0;
}

form {
    &.main {
        position: relative;

        input {
            width: 100%;
            font-size: 2em;
            @include box_sizing;
        }

        .convert {
            display: none;
            position: absolute;
            right: -45px;
            top: 12px;
            font-size: 4em;
        }
    }
}

button {
    $background_color: red;
    background-color: $background_color;
    color: white;
    font-weight: bold;
    border: 0;
    margin: 0;
    padding: 0.5em 0.75em;
    outline: none;
    cursor: pointer;

    &:hover {
        background-color: $background_color - #111;
    }

    &:active {
        background-color: $background_color - #222;
    }

    &.disabled {
        opacity: 0.5;
        cursor: default;

        &:hover {
            background-color: $background_color;
        }

        &:active {
            background-color: $background_color;
        }
    }

    &.add-another {
        display: none;
        float: right;
        margin-top: 1.5em;
    }

    &.add-time {
        float: right;
        margin: 0.75em 0;
    }
}

input {
    background-color: rgba(255,255,0, 0.3);
    border: 0;
    padding: 0.5em;
    box-shadow: 0 0 1px 1px rgba(128,64,0, 0.3) inset;
    outline: none;
    margin: 0;

    &:focus {
        background-color: rgba(255,255,0, 0.5);
    }

    &:disabled {
        box-shadow: none;
        background-color: rgba(255,255,0, 0.3);
    }
}

header {
    margin: 0.5em 0 1em 0;
    border-bottom: 1px solid rgba(255,255,255, 0.5);

    button {
        margin-left: 0.25em;
    }

    .account-actions {
        display: inline-block;
        float: right;
        margin-top: 5px;

        &.auth {
            margin-top: 15px;
        }
    }
}

section {
    &.link {
        width: 100%;
        overflow: hidden;
    }
}

footer {
    font-size: 0.8em;
    text-align: center;
    border-top: 1px solid rgba(255,255,255, 0.5);
    padding: 0.8em 0;
    clear: both;
    margin-top: 3em;
}

h1.banner {
    display: inline;
    font-family: 'Nunito', sans-serif;
}

h2.tagline {
    display: inline;
    font-weight: normal;
    padding-left: 0.4em;
}

#wrap {
    max-width: 960px;
    margin: 0 auto;
}

.user {
    position: relative;

    .username {
        cursor: pointer;

        img {
            vertical-align: middle;
            padding: 0 0.4em 0 0.2em;
        }
    }

    .menu {
        display: none;
        position: absolute;
        right: 0;
        list-style-type: none;
        background-color: white;
        color: black;
        font-size: 0.8em;
        margin: 0;
        margin-top: 8px;
        padding: 0.75em 0 0.5em 0;
        border: 1px solid rgba(0,0,0, 0.3);

        &:before {
            content: "";
            position: absolute;
            width: 0; height: 0;
            border-width: 10px;
            border-style: solid;
            border-color: transparent transparent white transparent;
            top: -20px;
            left: 123px;
        }

        li {
            margin: 0;
            padding: 0;
        }

        a {
            color: black;
            font-weight: bold;
            text-decoration: none;
            display: block;
            padding: 0.25em 1em;

            &:hover {
                background-color: yellow;
            }

            &:active {
                background-color: orange;
            }
        }

        .email {
            cursor: default;
            color: gray;
            padding: 0 1em 0.25em 1em;
        }
    }
}

.highlight {
    color: yellow;
}

.error, .errorlist {
    color: red;
    font-weight: bold;

    &.input {
        margin: 0.5em 0;
    }
}

.lead {
    font-weight: bold;
    font-size: 3.2em;
    margin: 0.25em 0;
}

.elevator-pitch {
    font-weight: bold;
    line-height: 1.4;
}

.link-url {
    color: yellow;
    display: inline-block;
    font-weight: normal;

    .path {
        color: white;
    }

    &.large {
        font-size: 3em;
    }

    &.medium {
        font-size: 2em;
        margin-bottom: 0;
    }
}

.username {
    font-weight: bold;
}

.target {
    display: block;
    word-wrap: break-word;
    margin: 0.5em 0 1.5em 0;
}

.progress-container {
    width: 100%;
    background-color: rgba(255,255,0, 0.3);

    &.large {
        height: 40px;
    }

    &.small {
        height: 20px;

        .progress-bar {
            .timer {
                font-size: 1em;
                margin: 0.05em 0.35em -0.05em 0;
            }
        }
    }
}

.progress-bar {
    position: relative;
    width: 0;
    height: 100%;
    background-color: red;

    .timer {
        float: right;
        margin: 0.25em 0.5em 0 0;

        &.short {
            position: absolute;
            margin-left: 0.5em !important;
        }
    }
}

.check-time-remaining {
    margin: 1em 0;
}
