<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}kikl.co{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Nunito:700' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>
</head>
<body>
    <div id="wrap">
        <header>
            <a class="banner" href="{% url 'front' %}">
                <h1 class="banner">kikl<span class="highlight">.</span>co</h1>
            </a>
                <h2 class="tagline">Tiny, short-lived, memorable links.</h2>
            <div class="account-actions{% if user.is_authenticated %} auth{% endif %}">
                {% if user.is_authenticated %}
                    <span class="username">{{ user }}</span> | 
                    <a href="{% url 'auth_logout' %}">Log out</a>
                {% else %}
                    <a href="{% url 'auth_login' %}">Log in</a> or 
                    <a href="{% url 'registration_register' %}"><button>Create an account</button></a>
                {% endif %}
            </div>
        </header>
        {% block content %}{% endblock %}
        <footer>
            Created by <a href="http://harrisonliddiard.com/">Harrison Liddiard</a> with <a href="http://djangoproject.com/">Django</a> and lots of love.
        </footer>
    </div>
</body>
</html>
