{% extends "base.html" %}

{% block content %}

<script>
    $(document).ready(function(){
        var link = $('.link');
        timer(link);
        $('.link > button.add-time').click(function(){
            var link = $(this).parent();
            ajaxIncreaseDuration(link);
        });
    });
</script>

<section class="link" data-id="{{ link.id }}" data-total="{{ link.duration }}" data-remaining="{{ link.secs_remaining }}">
    <h1>{{ link.path }}</h1>
    <h2 class="timer"></h2>
    <div class="progress-container"><div class="progress-bar"></div></div>
    {% if user.is_authenticated and link.duration < MAX_LINK_DURATION %}<button class="add-time">+10 minutes</button>{% endif %}
</section>

{% endblock %}
