{% extends "base.html" %}

{% block content %}

<script>
    $(document).ready(function(){
        $('.link').each(function(){
            var link = $(this);
            timer(link);
            var link_title = $(this).find('h1');
            var path = link_title.text();
            link_title.html(build_url(path, true));
        });
        $('.link > button.add-time').not('disabled').click(function(){
            var link = $(this).parent();
            ajaxIncreaseDuration(link);
        });
    });
</script>

<h1>Your active links</h1>

{% for link in links %}

    {% include 'linklet_small.html' %}

{% endfor %}

{% endblock %}
