::-webkit-input-placeholder {
  color: orange; }

:-moz-placeholder {
  /* Firefox 18- */
  color: orange; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: orange; }

:-ms-input-placeholder {
  color: orange; }

body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: orange;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

a {
  color: white; }

form.main input {
  width: 100%;
  font-size: 2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

button {
  background-color: red;
  color: white;
  font-weight: bold;
  border: 0;
  margin: 0;
  padding: 0.5em 1em;
  outline: none;
  cursor: pointer; }
  button:hover {
    background-color: #ee0000; }
  button:active {
    background-color: #dd0000; }
  button.disabled {
    opacity: 0.5;
    cursor: default; }
    button.disabled:hover {
      background-color: red; }
    button.disabled:active {
      background-color: red; }
  button.add-another {
    display: none;
    float: right;
    margin-top: 1.5em; }
  button.add-time {
    float: right;
    margin: 0.75em 0; }

input {
  background-color: rgba(255, 255, 0, 0.3);
  border: 0;
  padding: 0.5em;
  box-shadow: 0 0 1px 1px rgba(128, 64, 0, 0.3) inset;
  outline: none; }
  input:focus {
    background-color: rgba(255, 255, 0, 0.5); }
  input:disabled {
    box-shadow: none;
    background-color: rgba(255, 255, 0, 0.3); }

header {
  margin-top: 0.5em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  header a {
    color: inherit;
    text-decoration: none; }

section.link {
  width: 100%;
  margin-bottom: 2em; }

h1.banner {
  display: inline;
  font-family: 'Nunito', sans-serif; }

h2.tagline {
  display: inline;
  font-weight: normal;
  padding-left: 0.4em; }

#wrap {
  max-width: 960px;
  margin: 0 auto; }

.highlight {
  color: yellow; }

.error {
  color: red; }
  .error.input {
    margin: 0.5em 0; }

.lead {
  font-weight: bold;
  font-size: 3.2em;
  margin: 0.25em 0; }

.elevator-pitch {
  font-weight: bold;
  line-height: 1.4; }

.link-url {
  color: yellow;
  display: inline-block;
  font-weight: normal; }
  .link-url .path {
    color: white; }
  .link-url.large {
    font-size: 3em;
    margin-left: 15px; }
  .link-url.medium {
    font-size: 2em;
    margin-bottom: 0; }

.target {
  display: block;
  word-wrap: break-word;
  margin: 0.5em 0 1.5em 0; }

.progress-container {
  width: 100%;
  background-color: rgba(255, 255, 0, 0.3); }
  .progress-container.large {
    height: 40px; }
  .progress-container.small {
    height: 20px; }
    .progress-container.small .progress-bar .timer {
      font-size: 1em;
      margin: 0 0.35em 0 0; }

.progress-bar {
  position: relative;
  width: 0;
  height: 100%;
  background-color: red; }
  .progress-bar .timer {
    float: right;
    margin: 0.25em 0.5em 0 0; }

.check-time-remaining {
  margin: 1em 0; }
